#!/bin/bash

#SBATCH --partition=<%= slurm_resources$partition %>
#SBATCH --mail-type=<%= slurm_resources$mail.type %>
#SBATCH --mail-user=<%= slurm_resources$mail.user %>
#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --time=<%= slurm_resources$walltime %>
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=<%= slurm_resources$ncpus %>
#SBATCH --mem-per-cpu=<%= slurm_resources$memory %>


## Initialize work environment
module purge
module load r/4.2.2

Rscript --vanilla <%= r.file %>
